@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --footer-height: 30px;
    --header-height: 125px;
    --dl-red: #ff4998;
    --dl-green: #00cc74;
}   
@media screen and (max-width: 640px) {
    html{
        --header-height: 30px;
    }
    
}
.app-header{
    height: var(--header-height);
}
.app-footer{
    height: var(--footer-height);
}
.board{
    margin-block: 1rem;
    min-height: calc(100vh - var(--footer-height) - var(--header-height) - 3rem);
}
.inner-padding{
    padding-inline: 1.5rem;
}

.nemo-hover{
    background: linear-gradient(to right, crimson,pink,springgreen);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
  }
  .nemo-hover:hover{
    color:rgba(0,0,0,0);
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }